.main{
    display: flex;
    margin-top: 250px;
    margin-left: 400px;
}

.link{
    height: 500px;
    padding: 10px;
    background-color: aqua ;
}

.txt{
    background-color:purple;
    padding: 10px;
}

.active{
    
}